* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2d283e;
  color: #feffff;
  font-family: "Lato", sans-serif;
}

nav {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #564f6f;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

ul {
  font-size: 2rem;
  gap: 5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #feffff;
}
.logo-img {
  display: block;
  width: 4rem;
  height: 4rem;
}

.burger-menu {
  display: none;
}

.burger-menu > span {
  display: block;
  margin: 0.5rem auto;
  width: 2.5rem;
  height: 0.2rem;
  background-color: #feffff;
}

@media only screen and (max-width: 600px) {
  .burger-menu {
    display: block;
  }

  .burger-menu.activate > span:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.activate > span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger-menu.activate > span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-list {
    position: fixed;
    left: -100%;
    top: 7rem;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
  }

  .nav-list-items {
    margin: 1.6rem 0;
  }
  .nav-list.active {
    left: 0;
  }
}
